body{
font-family:Arial;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f172a,#2563eb);
color:white;
}

.autor{
position:fixed;
top:20px;
right:20px;
font-weight:bold;
}

.card{
background:rgba(255,255,255,.15);
padding:50px;
border-radius:20px;
text-align:center;
}

button{
padding:12px 25px;
border:none;
border-radius:30px;
cursor:pointer;
}